In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../adult.csv")
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [3]:
df = df[["age", "education", "education.num", "race", "income"]]
df = df.sample(100, random_state=0, ignore_index=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

    age     education  education.num                race income
0    56           9th              5               White  <=50K
1    19       HS-grad              9               White  <=50K
2    23  Some-college             10  Asian-Pac-Islander  <=50K
3    37     Bachelors             13               White  <=50K
4    49       Masters             14               White   >50K
5    50       HS-grad              9               White   >50K
6    59          10th              6               White  <=50K
7    43     Bachelors             13               White  <=50K
8    23     Bachelors             13               White  <=50K
9    62     Bachelors             13               White   >50K
10   60       7th-8th              4               White   >50K
11   36     Assoc-voc             11               White   >50K
12   66       HS-grad              9               Black  <=50K
13   30     Bachelors             13               White  <=50K
14   45       HS-grad              9               White   >50K
15   17          10th              6               White  <=50K
16   28       HS-grad              9               White  <=50K
17   38       Masters             14               White   >50K
18   40       HS-grad              9               White   >50K
19   52  Some-college             10               White  <=50K
20   61          10th              6               White  <=50K
21   47     Doctorate             16               White  <=50K
22   51   Prof-school             15               White  <=50K
23   33       HS-grad              9               Other  <=50K
24   35     Bachelors             13  Asian-Pac-Islander   >50K
25   24       HS-grad              9               White  <=50K
26   30       HS-grad              9               White  <=50K
27   52   Prof-school             15               White   >50K
28   46   Prof-school             15               White   >50K
29   27     Bachelors             13               White  <=50K
30   28     Bachelors             13               White  <=50K
31   28  Some-college             10               White  <=50K
32   58    Assoc-acdm             12               Black   >50K
33   51       HS-grad              9               White  <=50K
34   34       HS-grad              9               Black  <=50K
35   37       HS-grad              9               White  <=50K
36   37  Some-college             10               White  <=50K
37   39       Masters             14               White   >50K
38   29     Bachelors             13               White  <=50K
39   28     Bachelors             13               White  <=50K
40   52     Bachelors             13               White   >50K
41   38       7th-8th              4               White   >50K
42   39    Assoc-acdm             12               White   >50K
43   31  Some-college             10  Asian-Pac-Islander  <=50K
44   51     Bachelors             13               White   >50K
45   33       HS-grad              9               White   >50K
46   35       HS-grad              9               Black  <=50K
47   52       5th-6th              3               White  <=50K
48   58       HS-grad              9               White  <=50K
49   27       HS-grad              9               White  <=50K
50   33           9th              5               White  <=50K
51   43  Some-college             10               White  <=50K
52   41  Some-college             10               White  <=50K
53   17          10th              6               White  <=50K
54   35       HS-grad              9               White  <=50K
55   48       HS-grad              9               White  <=50K
56   58       HS-grad              9               White   >50K
57   43       Masters             14               White   >50K
58   42       HS-grad              9               White  <=50K
59   19       HS-grad              9               White  <=50K
60   38  Some-college             10               White   >50K
61   46     Bachelors             13               White   >50K
62   47  Some-college             10               White   >50K
63   21    Assoc-acdm             12               White  <=50K
64   59       7th-8th              4               White  <=50K
65   35       HS-grad              9               White  <=50K
66   31       HS-grad              9               White  <=50K
67   57       HS-grad              9               White   >50K
68   59          10th              6               White  <=50K
69   29     Bachelors             13               White  <=50K
70   51       HS-grad              9               White  <=50K
71   17          10th              6               Black  <=50K
72   44  Some-college             10               White   >50K
73   36  Some-college             10               White  <=50K
74   63       HS-grad              9               White  <=50K
75   41       HS-grad              9               White  <=50K
76   48     Bachelors             13               White  <=50K
77   43     Bachelors             13  Asian-Pac-Islander  <=50K
78   41       HS-grad              9               White  <=50K
79   20    Assoc-acdm             12               White  <=50K
80   60    Assoc-acdm             12               White   >50K
81   49     Bachelors             13               White   >50K
82   38     Bachelors             13               White  <=50K
83   23       HS-grad              9               White  <=50K
84   39  Some-college             10               White  <=50K
85   19       HS-grad              9               White  <=50K
86   31  Some-college             10               White  <=50K
87   31       HS-grad              9               White  <=50K
88   18          11th              7               White  <=50K
89   42       HS-grad              9               White  <=50K
90   37       HS-grad              9               White  <=50K
91   48     Bachelors             13               White   >50K
92   36  Some-college             10               White   >50K
93   35       HS-grad              9               Black  <=50K
94   32       Masters             14  Asian-Pac-Islander  <=50K
95   32     Bachelors             13               White  <=50K
96   43       HS-grad              9               Black  <=50K
97   22  Some-college             10               White  <=50K
98   27     Bachelors             13               White  <=50K
99   37       HS-grad              9               White  <=50K

In [4]:
df["race"].unique()

array(['White', 'Asian-Pac-Islander', 'Black', 'Other'], dtype=object)

In [29]:
df.to_csv("adult_100_sample.csv")

In [9]:
df.to_html("adult_100_sample.html", index=False)

In [40]:
import pandas as pd
df = pd.read_csv("adult_100_sample.csv")
# print(df["age"].max(), df["age"].min())
print(len(df[df.race == "Asian-Pac-Islander"]))
print(len(df[df.race == "Black"]))
print(len(df[df.race == "Other"]))

5
7
1

In [42]:
from scipy.stats import laplace
from math import floor, ceil
import numpy as np

sens = 1
for eps in list(np.arange(0.5, 5.1, 0.5, dtype=float)):
    val = laplace.ppf(q=0.99, loc=0, scale = sens/eps)
    # print(f"Asian-Pac-Islander: {int(3 - val)} - {int(3 + val)}, Black: 0 - {int(val)}, Other: 0 - {int(val)}, White: {int(27 - val)} - {int(27 + val)}")

    print(f"Asian-Pac-Islander: {max(0, floor(1 - val))} - {min(5, ceil(1 + val))}, Black: 0 - {min(7, ceil(val))}, Other: 0 - {min(1, ceil(val))}, White: {max(0, floor(2 - val))} - {ceil(2 + val)}")
    # print(f"{ans - val:0.2f} - {ans + val:0.2f}")

Asian-Pac-Islander: 0 - 5, Black: 0 - 7, Other: 0 - 1, White: 0 - 10
Asian-Pac-Islander: 0 - 5, Black: 0 - 4, Other: 0 - 1, White: 0 - 6
Asian-Pac-Islander: 0 - 4, Black: 0 - 3, Other: 0 - 1, White: 0 - 5
Asian-Pac-Islander: 0 - 3, Black: 0 - 2, Other: 0 - 1, White: 0 - 4
Asian-Pac-Islander: 0 - 3, Black: 0 - 2, Other: 0 - 1, White: 0 - 4
Asian-Pac-Islander: 0 - 3, Black: 0 - 2, Other: 0 - 1, White: 0 - 4
Asian-Pac-Islander: 0 - 3, Black: 0 - 2, Other: 0 - 1, White: 0 - 4
Asian-Pac-Islander: 0 - 2, Black: 0 - 1, Other: 0 - 1, White: 1 - 3
Asian-Pac-Islander: 0 - 2, Black: 0 - 1, Other: 0 - 1, White: 1 - 3
Asian-Pac-Islander: 0 - 2, Black: 0 - 1, Other: 0 - 1, White: 1 - 3

In [36]:
sens = 1
ans = 9
for eps in list(np.arange(0.5, 5.1, 0.5, dtype=float)):
    val = laplace.ppf(q=0.99, loc=0, scale = sens/eps)
    # print(f"Asian-Pac-Islander: {int(3 - val)} - {int(3 + val)}, Black: 0 - {int(val)}, Other: 0 - {int(val)}, White: {int(27 - val)} - {int(27 + val)}")

    # print(f"Asian-Pac-Islander: {max(0, floor(1 - val))} - {ceil(1 + val)}, Black: 0 - {ceil(val)}, Other: 0 - {ceil(val)}, White: {max(0, floor(2 - val))} - {ceil(2 + val)}")
    print(f"{int(ans - val)} - {int(ans + val)}")

1 - 16
5 - 12
6 - 11
7 - 10
7 - 10
7 - 10
7 - 10
8 - 9
8 - 9
8 - 9

In [4]:
df = pd.read_csv("../adult.csv")
df.columns = [name.replace(".", "_") for name in df.columns]
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [6]:
df.to_csv("../adult.csv", index=False)

In [7]:
df["occupation"].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [13]:
len(df[df["capital_loss"] > 3000])

11