In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("adult.csv")
df = df[["age", "race", "sex", "income"]]
df

       age   race     sex income
0       90  White  Female  <=50K
1       82  White  Female  <=50K
2       66  Black  Female  <=50K
3       54  White  Female  <=50K
4       41  White  Female  <=50K
...    ...    ...     ...    ...
32556   22  White    Male  <=50K
32557   27  White  Female  <=50K
32558   40  White    Male   >50K
32559   58  White  Female  <=50K
32560   22  White    Male  <=50K

[32561 rows x 4 columns]

In [9]:
df.to_csv("adult_age_race_sex_income.csv", index=False)

In [4]:
len(df[df["age"].between(20, 30)])

8915

In [5]:
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
len(df[(df["sex"] == "Female") & (df["income"] == ">50K")])

1179

In [14]:
with open("log_ds.txt") as f:
    lines = f.readlines()
    encryption_time_list = [float(x) for x in lines[0].split(",")]
    upload_time_list = [float(x) for x in lines[1].split(",")]
    query1_time_list = [float(x) for x in lines[2].split(",")]
    query2_time_list = [float(x) for x in lines[3].split(",")]
    query3_time_list = [float(x) for x in lines[4].split(",")]