In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("../adult.csv")
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [7]:
df_1000 = df.sample(1000)
df_1000.to_csv("adult_1000.csv", index=False)

df_10000 = df.sample(10000)
df_10000.to_csv("adult_10000.csv", index=False)

In [19]:
import math
import random

num_rows = 100000
num_iters = math.ceil(num_rows/len(df)) - 1

dfs = [df]

for i in range(num_iters):
    df_new = df.copy()
    for col in ["age", "fnlwgt", "education_num", "sex", "hours_per_week"]:
        val = random.choice([-1, 1])
        if col == "sex":
            if val == 1:
                df_new.loc[df["sex"] == "Female", "sex"] = "Male_"
                df_new.loc[df["sex"] == "Male", "sex"] = "Female"
                df_new.loc[df["sex"] == "Male_", "sex"] = "Male"
        else:
            df_new[col] += val
    dfs.append(df_new)

df = pd.concat(dfs).head(num_rows)
df.to_csv(f"adult_{num_rows}.csv", index=False)

In [20]:
df = pd.read_csv("adult_1000000.csv")
len(df)

1000000

In [21]:
df = pd.read_csv("adult_100000.csv")
len(df)

100000

In [26]:


res = query(df_1000, "SELECT COUNT(*) FROM adult WHERE native_country != 'United-States' AND sex == 'Female'")
res

   COUNT(*)
0        26